@import "tailwindcss";

/* COLORS */
@theme {
  --color-brand: #f2ede9;
  --color-brand-2: #dbc2a9;
  --color-brand-3: #ac8c6e;
  --color-brand-4: #86674b;
  --color-brand-5: #533c27;
  --color-cta: #673de6;
}

html {
  scrollbar-gutter: stable;
}
